<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br />
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :hour %><br />
    <%= f.text_field :hour %>
  </div>
  
  <div class="field">
    <%= f.label :hour %><br />
    <%#= select_hour(4, ampm: true) %>
    <%= am_pm_hour_select f, :hour, start:3 %>
  </div>
  
  <div class="field">
    <%= f.label :doctor_id %><br />
    <%= f.text_field :doctor_id %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
