<%= form_for(@doctor_schedule) do |f| %>
  <% if @doctor_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor_schedule.errors.count, "error") %> prohibited this doctor_schedule from being saved:</h2>

      <ul>
      <% @doctor_schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doctor_id %><br />
    <%= f.number_field :doctor_id %>
  </div>
  <div class="field">
    <%= f.label :schedule_id %><br />
    <%= f.number_field :schedule_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
